@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #000;
    color: #fff;
}

a, a:hover, a:visited{
    color: unset;
    text-decoration: underline;
}

header {
    background: linear-gradient(180deg, #13397a 0%, #000 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vendas-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vendas-logo-container img{
    width: 235px;
}

.vendas-logo-container h1{
    margin-top: 15px;
    font-size: 24px;
}

.vendas-logo-container p{
    font-size: 14px;
    font-weight: 300;
}

.vendas-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.vendas-titulo{
    color: #676fff;
    font-size: 24px;
    margin-bottom: 20px;
}
.vendas-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.vendas-form-control-container{
    margin-bottom: 16px;
    max-width: 300px;
}

.vendas-form-control{
    width: 100%;
    height: 46px;
    background-color: #182531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;
}

#vendas {
    padding: 40px 10px;
}

.vendas-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.vendas-table thead tr{
    height: 55px;
    font-size: 16px;
    font-weight: 700;
    color: #E9E9E9;
    padding: 0 16px;
}

.vendas-table tbody {
    font-size: 14px;
    font-weight: 400; 
    color: #CFCFCF;
    text-align: center;
}

.vendas-table tbody tr{
    height: 74px;
    border-top: 1px solid #5f6e82;
}

.vendas-table tbody tr:hover > td{
     background-color: #384459;
}

.vendas-red-button-container {
    display: flex;
    justify-content: center;
}
 
.vendas-table tbody tr:nth-child(odd){
    background-color: #242c3b;
}

.vendas-red-button {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.vendas-red-button img {
    width: 19px;
}

.show-greater-576{
    display: none;
}

.show-greater-992{
    display: none;
}

@media (min-width: 576px){
    .show-greater-576{
        display: table-cell;
    }

    .vendas-card {
        padding: 35px;
    }

    .vendas-table tbody tr{
        height: 55px;
    }

    .vendas-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px){
    .show-greater-992{
        display: table-cell;
    }
}